


/*Header empieza*/
header {
  width: 100%;
  height: 90px;
  position: fixed;
  z-index: 10;
  margin-bottom: 10px;
  background-color: var(--color_header);
  /* fondo oscuro semitransparente */
  backdrop-filter: blur(5px);
  /* efecto de desenfoque detrás si se quiere */
  transition: background-color 0.3s ease;
  margin-bottom: 50px;
}


.container_header {
  margin-bottom: 50px;
  max-width: 100vw;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  background-color: var(--main_color-secundary);
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.logo img {
  width: 200px;
  padding-top: 10px;
}

.logo img:hover {
  transform: scale(1.1);
}

.menu {
  display: flex;
  align-items: center;
}

.menu nav {
  margin: 0px 20px;
}

.menu nav ul {
  display: flex;
}


.menu nav ul li {
  list-style: none;
  margin: 20px 16px;
  position: relative;
}

.menu nav ul li:hover {
  scale: 1.1;
}

.menu nav ul li a {
  color: var(--color_text-secundary);
  /*varia*/
  font-size: var(--lowText_font_size);
  position: relative;
}


.menu nav ul li a:hover {
  color: var(--main_color-primary);
  /*varia*/
}

.menu ul li ul {
  width: 200px;
  display: flex;
  flex-direction: column;
  background: var(--main_color-secundary);
  /*varia*/
  position: absolute;
  top: 45px;
  left: -20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 14px 0px;
  border-radius: 15px;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

nav ul li:hover ul {
  visibility: visible;
  opacity: 1;
}

nav ul li ul::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid var(--main_color-secundary);
  /*varia*/
  top: -12px;
  left: 40px;
}

.menu:hover .dropdown {
  display: block;
}

.menu .socialmedia {
  margin: 0px 10px;
}

.menu .socialmedia a {
  margin: 0px 4px;
}

.menu .socialmedia a img {
  width: 20px;
}

.menu .socialmedia a img:hover {
  transform: scale(1.3);
}

a {
  text-decoration: none;
  color: var(--color_text-secundary);
  font-size: 20px;
  font-family: sans-serif;
}

a:hover {
  color: grey;
}
/*Header Termina*/